body {
    padding: 30px;  
}
hr {
    margin: 5px 0 5px;
}
input {
    display: inline-block !important;
    width: auto !important;
}
#country, #phone {
    display: inline-block;
    width: auto;
}
label[for="phone"] {
    display: block;
}

.example{width:600px;}
